<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	package="com.toufe.lilypoker" android:versionName="1.0" android:installLocation="preferExternal">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_LOGS" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
	        android:theme="@+android:style/Theme.NoTitleBar">

	  	<!-- 您从百度网站获取的APP KEY -->
		<meta-data android:name="BaiduMobAd_STAT_ID" android:value="869d9632ff" /> 
		<!-- 渠道商编号 -->
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="test" />
		<!-- 是否开启错误日志统计，默认为false -->
		<meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />

		<activity android:name=".Toufe" 
		android:label="@string/app_name" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
		android:windowSoftInputMode="stateHidden|adjustResize">
		<intent-filter>
		    <action android:name="android.intent.action.MAIN" />
		    <category android:name="android.intent.category.LAUNCHER" />
		</intent-filter> 
        </activity>
        <activity android:name=".AlixDemo" 
		android:label="@string/app_name" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
        <activity android:name="com.toufe.lilypoker.CustomActivity" 
		android:label="@string/app_name" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
        <activity android:name="com.toufe.lilypoker.DialogActivity" 
		android:label="@string/app_name" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
        <activity android:name="com.toufe.lilypoker.WebViewActivity" 
		android:label="@string/app_name" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
		<activity android:name="com.toufe.lilypoker.YeepayCustomActivity"
                  android:label="@string/app_name" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
        <activity android:name="com.yeepay.android.plugin.YeepayPlugin" 
			android:screenOrientation="portrait"
			android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" /> 
    </application>
</manifest> 
