<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LilyAPNNotification.NotificationServiceSet" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LilyAPNNotification.NotificationService" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LilyAPNNotification.NotificationServiceSet>
            <setting name="Connections" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SendRetries" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReconnectDelay" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="IsSandBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P12File" serializeAs="String">
                <value>aps_production.p12</value>
            </setting>
            <setting name="P12FilePwd" serializeAs="String">
                <value>888888</value>
            </setting>
            <setting name="SleepBetweenNotifications" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="A91P12File" serializeAs="String">
                <value>aps_91production.p12</value>
            </setting>
            <setting name="A91P12FilePwd" serializeAs="String">
                <value>888888</value>
            </setting>
        </LilyAPNNotification.NotificationServiceSet>
        <LilyAPNNotification.NotificationService>
            <setting name="Connections" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SendRetries" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReconnectDelay" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="IsSandBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="P12File" serializeAs="String">
                <value>D:\jacklee\project\proj1\AppleRef\Test1\ConsoleApplication1\LilyAPNNotification\aps_development.p12</value>
            </setting>
            <setting name="P12FilePwd" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="SleepBetweenNotifications" serializeAs="String">
                <value>5000</value>
            </setting>
        </LilyAPNNotification.NotificationService>
    </applicationSettings>
</configuration>