<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Photon" type="Photon.SocketServer.Diagnostics.Configuration.PhotonSettings, Photon.SocketServer"/>
  </configSections>
  <connectionStrings>
    <!--<add name="LilyEntities" connectionString="metadata=res://*/Model.LilyModel.csdl|res://*/Model.LilyModel.ssdl|res://*/Model.LilyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.1.8\toufe;Initial Catalog=Lily;Persist Security Info=True;User ID=sa;Password=toufe;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="LilyEntities" connectionString="metadata=res://*/Model.LilyModel.csdl|res://*/Model.LilyModel.ssdl|res://*/Model.LilyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.1.8\toufe;Initial Catalog=Lily;Persist Security Info=True;User ID=sa;Password=toufe;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Lily" connectionString="server=10.0.1.8\toufe;database=Lily;user=sa;pwd=toufe;"/>

  </connectionStrings>
  <appSettings>
    <add key="RowsLimit" value="100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientVersion" value="1.0.0.0"/>
    <add key="DependencyDB" value="Lily"/>
    <add key="RobotTable" value="configRobotStrategy"/>
    <add key="SystemTable" value="configSystem"/>
    <add key="LilyDealer" value="0"/>
      <!--0 RandomDealer , 1 LilyTestDealer-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <caching>
      <sqlCacheDependency pollTime="5000" enabled="true">        
          <databases>
            <!--数据库名称, 数据库链接, 轮询时间 ms-->
            <add name="Lily" connectionStringName="Lily" pollTime="5000"/>
            </databases>        
      </sqlCacheDependency>      
    </caching>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.qq.com" userName="service@toufe.com" password="1986221zpy" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>

  <Photon>
    <CounterPublisher enabled="false" endpoint="255.255.255.255:40001" protocol="udp" sendInterface="" updateInterval="1" publishInterval="10"/>
  </Photon>
</configuration>